{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4">Biz haqimizda</h3>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Bosh sahifa</a></li>
            <li class="breadcrumb-item active text-white">Biz haqimizda</li>
        </ol>
    </div>
</div>
<!-- Header End -->

<!-- About Start -->
<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5">
                <div class="h-100" style="border: 50px solid; border-color: transparent #13357B transparent #13357B;">
                    <img src="{% static 'img/aboutt.jpg' %}" class="img-fluid w-100 h-100" alt="">
                </div>
            </div>
            <div class="col-lg-7" style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url('{% static 'img/about-img-1.png' %}');">
                <h5 class="section-about-title pe-3">Biz haqimizda</h5>
                <h1 class="mb-4">O‘zbekistonga <span class="text-primary">Xush kelibsiz</span></h1>
                <p class="mb-4">Sayohatlar — sayyohlar uchun O‘zbekiston bo‘ylab zamonaviy va ishonchli sayohat xizmatlarini taqdim etuvchi agentlikdir. Bizning maqsadimiz — sizga unutilmas va qulay sayohat tajribasini taqdim etish.</p>
                <p class="mb-4">Tajribali jamoamiz, eng yaxshi yo‘nalishlar va sifatli xizmatlar bilan sizni yangi sarguzashtlarga chorlaymiz. Har bir sayohat — yangi imkoniyat va kashfiyotdir!</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Birinchi darajali aviachipta bron qilish</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Tanlab olingan mehmonxonalar</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>5 yulduzli joylashtirish imkoniyati</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Zamonaviy transport vositalari</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>O‘zbekiston bo‘ylab 150 dan ortiq ekskursiyalar</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>24/7 mijozlarga xizmat ko‘rsatish</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

{% comment %} <!-- Travel Guide Start -->
<div class="container-fluid guide py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Yo‘l ko‘rsatuvchilar</h5>
            <h1 class="mb-0">Bizning gidlar bilan tanishing</h1>
        </div>
        <div class="row g-4">
            {% for guide in guides %}
            <div class="col-md-6 col-lg-3">
                <div class="guide-item">
                    <div class="guide-img">
                        <div class="guide-img-efects">
                            <img src="{{ guide.image.url }}" class="img-fluid w-100 rounded-top" alt="Image">
                        </div>
                        <div class="guide-icon rounded-pill p-2">
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href="#"><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="guide-title text-center rounded-bottom p-4">
                        <div class="guide-title-inner">
                            <h4 class="mt-3">{{ guide.full_name }}</h4>
                            <p class="mb-0">{{ guide.designation }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Travel Guide End --> {% endcomment %}
{% endblock content %}
